.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
}

.product-card-img {
  height: 300px;
  width: 100%;
  border-top: 1px solid #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mmt-list {
  margin-top: 2rem;
}

.mmt-list-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
